html,body{min-height:100%}
.layout-boxed html,.layout-boxed body{height:100%}
body{

    background-image: url(../images/kopra-bg.png);
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:
    grayscale;
    font-weight:400;
    overflow-x:hidden;
    overflow-y:auto}
    .wrapper{min-height:100%;position:static;overflow:hidden}
    .wrapper:before,.wrapper:after{content:" ";display:table}
    .wrapper:after{clear:both}
    .layout-boxed .wrapper{max-width:1250px;margin:0 auto;min-height:100%;box-shadow:0 0 8px rgba(0,0,0,0.5);position:relative}
    .content-wrapper,.right-side,.main-footer{-webkit-transition:-webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -moz-transition:-moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition:-o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition:transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -webkit-transition:margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition:margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition:margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    background: -o-linear-gradient(white, #d1d0d0);     
    background: -moz-linear-gradient(white, #d1d0d0); 
    background: linear-gradient(white, #d1d0d0); 
    background-color: white;
    border-radius:2px;position:relative;display:block;margin-bottom:5px;margin-top:10px;box-shadow:0 1px 1px rgba(0,0,0,0.1)  
}

/* BOX LOGIN */
.box{ 
  position: center;
  margin: auto;
  margin-top: 10%;
  height: 710px;
  z-index: 200;
  width:400px;
  color:#666;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  opacity: 0.75;
}

#header{
  background: #009688;
  position: relative;
  background: url(../images/logo.png) no-repeat 10px 0px; background-size: 90%;  margin: 30px;
  width: 240px;
  height: 239px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cont-lock{
  width: 100%;
  height: 65px;
  position: relative;
}

.lock{
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 65px;
  font-size: 28px;
}

#bottom-head{
  position: relative;
  background: #00796b;
  height: 35px;
}

#bottom-head::after{
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 7px solid white;
  border-right: 7px solid rgba(0,0,0,0);
  border-left: 7px solid rgba(0,0,0,0);
  border-top: 7px solid rgba(0,0,0,0);
}

.box h1{
  margin-left: 20px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px;
}

.box button{
  background: #009688;
  border:0;
  color: #cfd8dc;
  padding:10px;
  font-size: 16px;
  font-weight: 300;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
    -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}

.box button:active{
  background: #009688;
  color: #263238;
}

.box button:hover{
    background: orange;
  color: white;
    -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.box p{
  font-size:14px;
  text-align:center;
}

.group        { 
  position:relative; 
  margin-bottom: 35px; 
  margin-left: 40px;
}

.inputMaterial        {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.inputMaterial:focus    { outline:none;}

/* LABEL ======================================= */

label          {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label    {
  top:-20px;
  font-size:14px;
  color: #009688;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:315px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #009688; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

#footer-box{
  width: 100%;
  height: 50px;
  background: #00695c;
  position: absolute;
  bottom: 0;
}

.footer-text{
  color: #cfd8dc;
  
}

.sign-up{
  color: white;
  cursor: pointer;
}

.sign-up:hover{
   color: #b2dfdb; 
}


$transition: all 0.3s;
$shadow-L1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-L2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-L3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

body{
}

#container-a{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  transition: $transition;
  box-shadow: $shadow-L3;
      
  /*&:hover{
    width: 150px;
    border-radius: 50px;
    transition: $transition;
  }*/
  
  #badge{
  width: 100%;
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27"); 
  background-size: 100%;
  transition: $transition;
  position: absolute;
  
  
    &:hover .codepen{
     display: block;
    }
  }
  
  &:hover #letter{
      display: block;
  }
  
  &:hover #badge{
    width: 150px;
    height: 150px;
    transition: $transition;
    filter: blur(7px);
  } 
 
  #letter{
    display: none;
    z-index: 20;
    width: 100%;
    height: 100%;
    position: absolute;
    
    span{
      font-family: 'Roboto';
      font-size: 32px;
      color: white;
      text-align: center;
      line-height: 60px;
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;
      cursor: pointer;
    }
  }
}


#container-floating{
  position: fixed;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  z-index: 50px;
  
  &:hover{
    height: 400px;
    width: 60px;
    top: 20px;
    right: 20px;
  }
  
  &:hover .nds{
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  &:hover .nd3{
    animation-delay: 0.08s;
  }
  &:hover .nd4{
    animation-delay: 0.15s;
  }
  &:hover .nd5{
    animation-delay: 0.2s;
  }
  
  .nds{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    right: 33px;
    cursor: pointer;
    &:hover{
      box-shadow: $shadow-L3;
      transition: $transition;
      width: 50px;
      right: 25px;
      height: 50px;
    }
  }

  .nd1{
    background-image: url("https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png");
    background-size: 100%;
    top: 110px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
    box-shadow: $shadow-L2;
    transition: $transition;
  }

  .nd3{
    background: url("https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png");
    background-size: 100%;
    top: 165px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
    box-shadow: $shadow-L2;
    transition: $transition;
  }

  .nd4{
    background: url("http://www.studiotomasi.org/images/gplusicon.svg");
    background-size: 100%;
    top: 225px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
    box-shadow: $shadow-L2;
    transition: $transition;
  }
  
}


@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}


.profile-name{
    line-height: 60px;
    left: -70px;
    position: absolute;
    font-family: 'Roboto';
    color: #455a64;
}

.profile-name:hover{
  text-decoration: underline;
}

a:link, a:visited{
  text-decoration: none;
}