  .table-scroll tbody{
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 97.2%;
  }

  .table-scroll tr{
    width: 98%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scroll:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 98.8%;
  }

  .table-scroll-kecil tbody{
  position: absolute;
  height: 300px;
  overflow: hidden;
  width: 94.3%;
  }

  .table-scroll-kecil tr{
    width: 98.8%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scroll-kecil:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 97.5%;
  }

  .table-scrolls tbody{
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 98.2%;
  }

  .table-scrolls tr{
    width: 98.8%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scrolls:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 99.2%;
  }

  .table-scroll-cpr tbody{
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 96.3%;
  }

  .table-scroll-cpr tr{
    width: 98.8%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scroll-cpr:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 98.4%;
  }

  .table-scroll-dpr tbody{
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 88.8%;
  }

  .table-scroll-dpr tr{
    width: 98.8%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scroll-dpr:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 95.2%;
  }

  .table-scroll-depo tbody{
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 92.6%;
  }

  .table-scroll-depo tr{
    width: 98.8%;
    table-layout: fixed;
    display: inline-table;
  }

  .table-scroll-depo:hover tbody{    
    overflow: scroll;
    overflow-x: hidden;
    width: 96.6%;
  }